* {
	margin: 0;
	padding: 0;
}

.container {
	background: linear-gradient(to right bottom, #e1b382, #c89666);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #12343b;
	min-width: 450px;
	min-height: 650px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 3px 6px 40px #000;
	margin-bottom: 10px;
}
@media screen and (max-width: 468px) {
	.app-wrapper {
		min-height: 450px;
		min-width: 0px;
		max-width: 350px;
	}
}

.header {
	border-bottom: 1px solid;
	border-bottom-color: #808080;
	margin-bottom: 20px;
}
.header h1 {
	color: #fff;
	text-align: center;
	margin: 30px 0;
	font-family: helvetica;
	text-transform: uppercase;
}
@media screen and (max-width: 468px) {
	.header {
		margin-bottom: 10px;
	}
}


.form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-inside {
	display: flex;
}

.task-input {
	outline: none;
	width: 260px;
	padding: 15px;
	margin-right: 28px;
	font-size: 20px;
	color: #ccc;
	background-color: #000000;
	border: 1px solid #c89666;
	border-radius: 10px;
}
@media screen and (max-width:468px) {
	.task-input {
		max-width: 190px;
		margin-right: 13px;
		height: 20px;
	}
}


.button-add {
	width: 70px;
	padding: 15px 15px;
	font-size: 20px;
	border-radius: 10px;
	border: 0;
	background-color: #f1af71;
	cursor: pointer;
	color: #12343b;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width:468px) {
	.button-add {
		max-width: 55px;
		padding: 16px 10px;
		font-size: 18px;
		padding-bottom: 15px;
	}
}

.task-buttons {
	display: flex;
	margin-left: 5px;
}


.list-item {
	display: flex;
	margin: 20px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 28px;
	border-radius: 50%;
}
@media screen and (max-width:468px) {
	.button-complete,
	.button-delete,
	.button-edit {
		font-size: 18px;
	}
}
@media screen and (max-width:468px) {
	.task-buttons {
		padding-top: 2px;
	}
}

.button-complete {
	color: #ff6c6c;
	margin-right: 10px;
}

.button-edit {
	color: #e2d029;
	margin-right: 10px;
}

.button-delete {
	color: lightseagreen;
}

.complete {
	text-decoration-style: solid;
	text-decoration-line: line-through;
	text-decoration-color: #ff6c6c;
	opacity: 0.6;
}

.list {
	width: 230px;
	background-color: #12343b;
	border: none;
	color: #ccc;
	font-size: 20px;
	padding-left: 10px;
	margin-right: 20px;
}
@media screen and (max-width:468px) {
	.list {
		width: 180px;
		padding-left: 5px;
		margin-right: 10px;
		font-size: 18px;
	}
}

input:focus,
button:focus {
	outline: none;
}